@import "variable.styl"

body, html
  line-height: 1
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: #ffffff
  color: #000000
html 
  font-family sans-serif
  -webkit-text-size-adjust 100%
body
  margin 0
a
  background transparent
h1
  font-size 2em
  margin .67em 0
img 
  border 0
hr
  box-sizing content-box
  height 0
*
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -webkit-user-select: none
  outline: none
  -webkit-tap-highlight-color: transparent
  -webkit-tap-highlight-color: transparent
body
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  font-size: 17px
  line-height: 21px
  color: #000
  background-color: #efeff4
  -webkit-overflow-scrolling: touch
a
  text-decoration: none
  color: #007aff
a:active
    color: #0062cc
h1, h2, h3, h4, h5, h6
  line-height: 1
  margin-top: 5px
  margin-bottom: 5px
h1
  font-size: 36px
h2
  font-size: 30px
h3
  font-size: 24px
h4
  font-size: 18px
h5
  font-size: 14px
  font-weight: normal
  color: #8f8f94
h6
  font-size: 12px
  font-weight: normal
  color: #8f8f94
p
  font-size: 14px
  margin-top: 0
  margin-bottom: 10px
  color: #8f8f94